/* Original brand families and weights, bundled for reliable H5/App loading.
   Unmodified upstream files and licenses: src/static/fonts/. */
@font-face {
  font-family: "General Sans";
  src: url("../static/fonts/GeneralSans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../static/fonts/GeneralSans-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../static/fonts/GeneralSans-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../static/fonts/GeneralSans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../static/fonts/Manrope.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../static/fonts/JetBrainsMono.ttf") format("truetype");
  font-weight: 400 500;
  font-style: normal;
  font-display: swap;
}
